{% extends 'page.html.twig' %}

{% if not repos is defined %}
{% set repos = site.data.themes %}
{% endif %}

        {%- block content ~%}
        <div class="mx-auto">
          <div class="markdown max-w-(--breakpoint-md) mx-auto dark:markdown-dark markdown-headings:pt-3 markdown-headings:mt-0 markdown-h1:pt-0">
            {%- block nav ~%}
            {%- include 'partials/themes-nav.html.twig' ~%}
            {%- endblock ~%}
            <h1>{{ page.title }}</h1>
            {{- page.content ~}}
            {%- for repo in repos ~%}
            {%- set repo_basepath = 'https://raw.githubusercontent.com/' ~ repo.full_name ~ '/' ~ repo.default_branch ~ '/' ~%}
            {%- block name ~%}
            {%- set yaml_asset = asset(repo_basepath ~ 'theme.yml', {ignore_missing: true}) -%}
            {%- set yaml = yaml_asset.content|default('yaml: false')|yaml_parse -%}
            {%- if yaml.name|default -%}
              {%- set repo = repo|merge({'name': yaml.name}) -%}
            <h2>{{ repo.name }}</h2>
            {%- else -%}
            <h2>{{ repo.name|split('-')[1]|capitalize }}</h2>
            {%- endif -%}
            {%- endblock ~%}
            <p>{{ repo.description }}</p>
            {%- set screenshot = asset(repo_basepath ~ 'docs/screenshot.png', {ignore_missing: true}) %}
            {% if screenshot['missing'] ~%}
            {% set screenshot = asset(repo_basepath ~ 'screenshot.png', {ignore_missing: true}) %}
            {% endif %}
            {% if not screenshot['missing'] ~%}
            <p>{{ html(screenshot, {alt: repo.name, style: 'background-color:' ~ screenshot|dominant_color}) }}</p>
            {%- endif ~%}
            <p class="flex space-x-2">
              {%- x:button with {href: repo.github, class: 'btn-sm', role: 'button'} ~%}
                {% trans %}Source code{% endtrans %}
              {%- endx ~%}
              {%- x:button with {href: repo.github ~ '#readme', class: 'btn-sm', role: 'button'} ~%}
                {% trans %}Documentation{% endtrans %}
              {%- endx ~%}
              {%- block website ~%}
                {%- if repo.homepage ~%}
                  {%- x:button with {href: repo.homepage, class: 'btn-sm', role: 'button'} ~%}
                    {% trans %}Demo{% endtrans %}
                  {%- endx ~%}
                {%- endif ~%}
              {%- endblock ~%}
            </p>
            {%- block command ~%}
            <h3>Quick download</h3>
            <pre><code>composer require cecil/{{ repo.name|lower }}</code></pre>
            {%- endblock ~%}
            <p>{{ repo.license }}</p>
            {%- endfor ~%}
          </div>
        </div>
        {%- endblock ~%}