{% set section, balise = 'documentation', 'h3' %}
[
{%- for p in site.pages|filter(p => p.section == section)|sort_by_weight -%}
  {%- set count = 0 -%}
  {%- set page_heads = p.content|preg_split('/<' ~ balise ~ '[^>]*>/') -%}
  {%- if page_heads|length > 0 -%}
    {%- for head in page_heads -%}
      {%- if loop.index0 > 0 -%}
        {%- set head_split = page_heads[loop.index0]|split('</' ~ balise ~ '>') -%}
        {%- set head_title = head_split[0]|trim|striptags -%}
        {%- set head_anchor = head_title|lower|replace({' ':'-',':':''}) -%}
        {#- set head_content = head_split[1]|striptags ~#}
        {%- set h = head_split[1] -%}
        {%- if h|trim starts with '<p>' -%}
        {%- set head_content = h|trim|split('</p>')|first|striptags -%}
        {%- else -%}
        {%- set head_content = '' -%}
        {%- endif -%}
  {
    "page": "{{ p.title }}",
    "title": "{{ head_title }}",
    "content": {{ head_content|json_encode }},
    "date": "{{ p.date|date('c') }}",
    "href": "{{ url(p,{canonical:false})|trim('/') }}#{{ head_anchor }}",
    "objectID": "{{ p.id }}#{{ head_anchor }}"
  }
        {%- if not loop.last %},{% endif ~%}
        {%- set count = count + 1 -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if not loop.last and count > 0 %},{% endif ~%}
  {%- endif -%}
{%- endfor ~%}
]
