{%- set section, balise = 'documentation', 'h3' -%}
{%- macro dataset(page, title, description = '', content, date, href, objectID) ~%}
	{
    "page": "{{ page }}",
    "title": "{{ title }}",
    "description": {{ description }},
    "content": {{ content }},
    "date": "{{ date }}",
    "href": "{{ href }}",
    "objectID": "{{ objectID }}"
  }
{%- endmacro -%}
[
{%- for p in site.pages|filter(p => p.section == section)|sort_by_weight -%}
  {%- set count = 0 -%}
  {%- set sections = p.content|preg_split('/<' ~ balise ~ '[^>]*>/') -%}
  {%- if sections|length > 0 -%}
    {%- for section in sections -%}
      {%- if loop.index0 > 0 -%}
        {%- set section_content = sections[loop.index0]|split('</' ~ balise ~ '>') -%}
        {%- set title = section_content[0]|trim|striptags -%}
        {%- set anchor = title|lower|replace({' ':'-',':':''}) -%}
        {%- set content = section_content[1]|striptags ~%}
        {%- set description = '' -%}
        {%- if section_content[1]|trim starts with '<p>' -%}
        {%- set description = section_content[1]|trim|split('</p>')|first|striptags -%}
        {%- endif -%}
  {{- _self.dataset(
    p.title,
    title,
    description|json_encode|trim,
    content|json_encode|trim,
    p.date|date('c'),
    url(p,{canonical:false})|trim('/') ~ '#' ~ anchor,
    p.id ~ '#' ~ anchor
  ) -}}
        {%- if not loop.last %},{% endif ~%}
        {%- set count = count + 1 -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if not loop.last and count > 0 %},{% endif ~%}
  {%- endif -%}
{%- endfor ~%}
]
