[
{#- for p in site.pages|filter(p => p.section == 'documentation') -#}
{%- for p in site.pages|filter_by('section','documentation')|sort_by_weight -%}
  {%- set count = 0 -%}
  {%- set page_heads = p.content|split('<h3>') -%}
  {%- if page_heads|length > 0 -%}
    {%- for head in page_heads -%}
      {%- if loop.index0 > 0 -%}
        {%- set head_split = page_heads[loop.index0]|split('</h3>') -%}
        {%- set head_title = head_split[0]|trim|striptags -%}
        {%- set head_anchor = head_title|lower|replace({' ':'-',':':''}) -%}
        {%- set head_content = head_split[1]|striptags ~%}
  {
    "title": "{{ p.title }} &middot; {{ head_title }}",
    "content": {{ head_content|json_encode }},
    "date": "{{ p.date|date('c') }}",
    "href": "{{ url(p,{canonical:true}) }}#{{ head_anchor }}",
    "objectID": "{{ p.id }}#{{ head_anchor }}"
  }
        {%- if not loop.last %},{% endif ~%}
        {%- set count = count + 1 -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if not loop.last and count > 0 %},{% endif ~%}
  {%- endif -%}
{%- endfor ~%}
]
