{% extends 'page.html.twig' %}

{%~ block content ~%}
        {#- content ~#}
        <div class="markdown max-w-screen-md mx-auto dark:markdown-dark">
          <div class="text-sm text-slate-300 font-medium">{{ page.date|localizeddate('long', 'none') }}</div>
          <h1>{{ page.title }}</h1>
          {{ page.content }}
          {%- if page.github_release|default('') is not empty ~%}
          <blockquote>
            <a href="{{ page.github_release }}">{% trans "Release notes on GitHub" %}</a>
          </blockquote>
          {%- endif ~%}
          {#- prev/next page ~#}
          <div class="border-slate-200 border-t pt-2">
            {%- if page.prev is defined ~%}
            <a class="text-blue dark:text-slate-300 font-bold no-underline float-left" href="{{ url(page.prev.path) }}" role="button" title="Previous">
              ← {{ page.prev.title }}
            </a>
            {%- endif -%}
            {%- if page.next is defined ~%}
            <a class="text-blue dark:text-slate-300 font-bold no-underline float-right" href="{{ url(page.next.path) }}" role="button" title="Next">
              {{ page.next.title }} →
            </a>
            {%- endif ~%}
          </div>
        </div>
{%- endblock ~%}

{% block footer_scripts %}
    {{ parent() }}
    {%~ include 'partials/highlight.js.twig' only ~%}
{% endblock footer_scripts %}