      {#- Variables: id, title, description, path, image, shadow, webp ~#}
      <div id="feature-{{ id }}" class="p-10 lg:p-28{% if loop.index0 is even %} bg-gold dark:bg-black{% endif %}">
        <div class="container mx-auto flex flex-col md:flex-row space-y-10 md:space-y-0 space-x-0 md:space-x-8{% if loop.index0 is odd %} md:flex-row-reverse md:space-x-reverse{% endif %} items-center">
          {%- set image_template = asset(image, {ignore_missing: true}) ~%}
          <div class="basis-{% if not image_template['missing'] %}1/2{% else %}full{% endif %} text-center align-middle">
            <a href="#feature-{{ id }}"><h2 class="text-4xl mb-8">{{ title }}</h2></a>
            <div class="text-2xl mb-8">
              {{ description|markdown_to_html ~}}
            </div>
            <div>
              <a class="text-xl" href="{{ url(path, {language: 'en'}) }}">{% trans %}Get started{% endtrans %}</a>
            </div>
          </div>
          {%- if not image_template['missing'] ~%}
          <div class="basis-1/2 text-center animate-on-scroll -mx-10 md:mx-0">
            <a href="{{ url(path, {language: 'en'}) }}" title="{% trans %}Get started{% endtrans %}">
              {%- set class = 'home' -%}
              {%- if shadow %}{% set class = class ~ ' box-shadow' %}{% endif -%}
              {{- html(image_template, {alt: title, loading: 'lazy', decoding: 'async', class}) -}}
            </a>
          </div>
          {%- endif ~%}
        </div>
      </div>