        {#- logo ~#}
        <a class="flex flex-row items-center justify-center" href="{{ url(site.home) }}" title="{{ 'Home'|trans }}">
          <img class="w-8 m-0" src="{{ asset('logo.svg') }}" alt="{{ site.title }} logo" width="32" height="32" />
          <span class="hidden md:block ml-2 text-xl text-gold align-middle font-bold">{{ site.title }}</span>
        </a>