<div class="container">
  <footer class="footer">
    Cecil &copy; {{ 'now'|date('Y') }} <a href="{{ url(site.author.home) }}">{{ site.author.name }}</a>
     &bull; Logo &copy; <a href="http://www.cecillie.fr/">Cécile Ricordeau</a><br>
    <a href="{{ url('about') }}">About</a> &bull; Powered by <a href="{{ cecil.url }}">Cecil</a>, <a href="https://primer.github.io/">Primer CSS</a>, <a href="https://octicons.github.com/">Octicons</a>
    and <a href="https://github.com/Cecilapp/website">GitHub</a>
  </footer>
</div>
