{% import 'macros/octicons.twig' as octicons %}
{% extends 'page.html.twig' %}

            {%- block head_content ~%}
            <div class="max-w-(--breakpoint-md) mx-auto">
              <p class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 space-x-0 sm:space-x-2 text-center">
                {#- Download ~#}
                {%- x:button with {href: url(site.release.name, {language: 'en'}), class: 'version btn-sm', role: 'button'} ~%}
                  <span class="inline mr-2">{{ octicons.svg('download', 24, 'size-4') }}</span>{% trans %}Download{% endtrans %}
                {%- endx ~%}
                {#- SHA-1 ~#}
                {%- x:button with {id: 'sha1-button', href: url(site.release.sha1, {language: 'en'}), class: 'btn-sm', role: 'button'} ~%}
                  <span class="inline mr-2">{{ octicons.svg('file-check', 24, 'size-4') }}</span>{% trans %}File checksum{% endtrans %} <span class="text-xs">(SHA-1)</span>
                {%- endx ~%}
              </p>
            </div>
            {%- endblock ~%}

              {%- block content ~%}
              {{ page.content }}
              {%- endblock ~%}

    {% block footer_scripts %}
    {{- parent() ~}}
    {{- include('partials/version.js.twig', with_context: false) ~}}
    {% endblock %}