{% import 'macros/octicons.twig' as octicons %}
{% extends 'page.html.twig' %}

{%- block head ~%}
    {{- parent() ~}}
    <link rel="preload" href="{{ asset('videos/cecil-demo-poster.png') }}" as="image" fetchpriority="high" media="(min-width: 768px)">
    <style>{{- asset('css/animation.css')|inline -}}</style>
{%- endblock ~%}

{%- block jumbotron ~%}
    <div class="jumbotron mt-14">
      <div class="container mx-auto">
        <div class="flex flex-col md:flex-row -mx-4">
          <div class="md:w-1/2 mx-4">
            <h1 class="sm:max-md:mb-6">
              <div class="text-6xl mb-4">{{ site.title }}</div>
              <div class="font-medium text-xl md:text-2xl">{{ site.baseline }}</div>
            </h1>
            <div class="hidden xl:block font-medium text-2xl mb-4">{{ site.description }}</div>
            <div class="flex flex-col xl:flex-row px-12 md:px-0 space-x-0 xl:space-x-4 space-y-4 xl:space-y-0">
              {#- Quick Start link ~#}
              {%- if site.menus.home['documentation/quick-start'] is defined ~%}
              {%- x:button with {href: url(site.menus.home['documentation/quick-start'].url), class: 'btn-gold'} -%}
                <span class="hidden sm:inline mr-4">{{ octicons.svg('arrow-right', 24, 'size-6') }}</span>{%- trans %}Quick Start{% endtrans -%}
              {%- endx ~%}
              {%- endif ~%}
              {#- Download link ~#}
              {%- if site.menus.main.download is defined ~%}
              {%- x:button with {id: 'download-button', href: url(site.menus.main.download.url), class: 'btn-trans hidden sm:inline-block'} -%}
                <span class="hidden sm:inline mr-4">{{ octicons.svg('download', 24, 'size-6') }}</span>{%- trans %}Download{% endtrans -%}
              {%- endx ~%}
              {%- endif ~%}
            </div>
          </div>
          {#- Terminal video demo ~#}
          <div class="md:w-1/2 mx-4 hidden md:inline-flex">
            {{- include('partials/terminal-demo.html.twig', with_context: false) ~}}
          </div>
        </div>
      </div>
    </div>
    {#- news ~#}
    <div id="news" class="bg-darkblue dark:bg-black">
      <div class="container mx-auto flex flex-wrap flex-row">
        {%- for news in site.pages.showable|filter_by('section', 'news')|sort_by_date(desc_title=true)|slice(0, 4) ~%}
        <a class="flex-[1_1_100%] md:flex-[1_1_25%] w-64 p-6 truncate hover:bg-gold hover:shadow-lg group{% if loop.index == 3 %} hidden md:block{% endif %}{% if loop.index >= 4 %} hidden lg:block{% endif %}" href="{{ url(news) }}" title="{{ news.description|default()|replace({'"':"'"}) }}">
          <div class="text-slate-300 group-hover:text-blue mb-1">{{ news.date|format_date('long') }}</div>
          <div class="font-medium text-white group-hover:text-darkblue truncate">{{ news.title }}</div>
        </a>
        {%- endfor ~%}
      </div>
    </div>
{%- endblock ~%}

{%- block content ~%}
        {#- about blocks ~#}
        <div id="about" class="mt-6 md:mt-10">
          <div class="space-y-5 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-5">
            {%- for block in page.blocks.about|default([])|filter(b => b.visible != false) ~%}
            {{- include('partials/block-about.html.twig', {loop, icon:block.icon, title:block.title, description:block.description}, with_context: false) ~}}
            {%- endfor ~%}
          </div>
        </div>
        {#- content ~#}
        <div id="content" class="container mx-auto md:w-3/4 lg:w-2/4 mt-10 px-0 md:px-8 py-5 leading-loose">
          {%- if page.content ~%}
          <div class="mb-4 markdown">
            {{ page.content }}
          </div>
          {%- endif ~%}
          {#- terminal ~#}
          <div id="terminal" class="mb-2 text-xl text-center font-bold">{% trans %}Start with the CLI{% endtrans %}</div>
          <div class="p-4 rounded-md text-sm font-mono bg-[#1f2937] text-white">
            <div class="termBtns"><span></span><span></span><span></span></div>
            <pre class="leading-normal">curl -LO https://cecil.app/cecil.phar
php cecil.phar new:site
php cecil.phar serve</pre>
          </div>
        </div>
        {%- if site.menus.home['documentation/quick-start'] is defined ~%}
        <div class="mt-4 lg:mt-6 mb-2 lg:mb-4 text-center">
          {%- x:button with {href: url(site.menus.home['documentation/quick-start'].url), class: 'font-medium'} ~%}
            {%- trans %}Quick Start{% endtrans -%}
          {%- endx ~%}
        </div>
        {%- endif ~%}
{%- endblock ~%}

{%- block features ~%}
    <div id="features">
    {%- for block in page.blocks.features|default([])|filter(b => b.visible != false) ~%}
      {{- include('partials/block-feature.html.twig', {loop, id:block.id, title:block.title, description:block.description, path:block.path, image:block.image|default, shadow:block.shadow ?? true, webp:block.webp ?? true}, with_context: false) ~}}
    {%- endfor ~%}
    </div>
{%- endblock ~%}

{%- block sponsors ~%}
    <div id="sponsors" class="p-10 md:p-16">
      <div class="container mx-auto">
        <div class="text-xl font-bold pb-10 md:pb-16 text-center">{% trans %}Cecil is generously supported by{% endtrans %}</div>
        <div class="flex flex-col md:flex-row space-y-10 md:space-y-0 space-x-0 md:space-x-16 items-center">
        {%- for block in page.blocks.sponsors|default({})|filter(b => b.visible != false) ~%}
          {%- set sponsor_logo = asset(block.logo)|resize(250) -%}
          {%- set sponsor_logo_dark = asset(block.logo_dark)|resize(250) ~%}
          <div class="grow md:h-auto text-center hover:scale-125 ease-in-out duration-700">
            <a href="{{ block.url }}" title="{{ block.title }}" aria-label="{{ block.title }}">
              <img class="inline-block dark:hidden" src="{{ url(sponsor_logo) }}" alt="{{ block.title }}" width="{{ sponsor_logo.width }}" height="{{ sponsor_logo.height }}" loading="lazy">
              <img class="hidden dark:inline-block" src="{{ url(sponsor_logo_dark) }}" alt="{{ block.title }}" width="{{ sponsor_logo.width }}" height="{{ sponsor_logo.height }}" loading="lazy">
            </a>
          </div>
        {%- endfor ~%}
        </div>
      </div>
    </div>
{%- endblock ~%}

{%- block footer_scripts ~%}
    {{- parent() ~}}
    {{- include('partials/version.js.twig', with_context: false) ~}}
    {{- include('partials/animation.js.twig', with_context: false) ~}}
{%- endblock ~%}