<!DOCTYPE html>
<html lang="{{ site.language }}">
  {% include 'includes/head.html.twig' %}
  <body>
    <!-- header -->
{% block header %}
    <header class="masthead bg-gray-dark">
      <div class="container">
        <a href="{{ site.baseurl }}" title="{{ site.name }}" class="masthead-logo">
          <img src="{{ url('images/cecil-logo-white.png') }}" alt="{{ site.name }} logo" height="40px" />
          {#{{ site.name }}#}
        </a>
        <nav class="masthead-nav">
{% for entry in site.menus.main|sortByWeight %}
          <a id="menu-entry-{{ entry.id }}" class="{% if url(page) == url(entry.url) or url(page) == url(entry.url)|trim('/') or page.section == entry.url %} active{% endif %}" href="{{ url(entry.url) }}">{{ entry.name }}</a>
{% endfor %}
          <a class="github-button" href="https://github.com/Cecil/Cecil" data-show-count="true" aria-label="Star Cecil/Cecil on GitHub">Star</a>
        </nav>
      </div>
    </header>
{% endblock %}
    <!-- content -->
{% block content %}
    <div class="jumbotron bg-gray-dark">
      <div class="container">
        <div class="columns">
          <div class="one-half column">
            <h1>{{ site.name }}</h1>
            <p>{{ site.baseline }}</p>
            <a id="quickstart-button" href="{{ url(site.menu.main.documentation.url) ~ 'quick-start/' }}" class="btn btn-primary">{#<span class="mega-octicon octicon-triangle-right"></span>&nbsp;#}Quick Start</a>
            <a id="download-button" href="{{ url(site.menu.main.download.url) }}" class="btn btn-reverse">Download</a>
          </div>
          <div class="one-half column">
{% include 'includes/terminal.html.twig' %}
          </div>
        </div>
      </div>
    </div>
    <div class="container about-that">
      <div class="columns">
        <div class="one-third column">
          <h2><span class="mega-octicon octicon-markdown"></span>Files only</h2>
          <p>No database: pages content is stored in flat files, in <a href="https://daringfireball.net/projects/markdown/">Markdown</a> syntax with <a href="/documentation/content/#front-matter">YAML front matter</a>.</p>
        </div>
        <div class="one-third column">
          <h2><span class="mega-octicon octicon-zap"></span>Fast & Secure</h2>
          <p>No server, no dependency: performance and security.</p>
        </div>
        <div class="one-third column">
          <h2><span class="mega-octicon octicon-paintcan"></span>Customisable</h2>
          <p>Powered by <a href="http://twig.sensiolabs.org/">Twig</a>, a flexible template engine, with <a href="https://github.com/Cecil/theme-hyde">theme</a> support.</p>
        </div>
      </div>
      <div class="columns">
        <div class="one-third column">
          <h2><span class="mega-octicon octicon-hubot"></span>Generators</h2>
          <p>Paginaton, taxonomies, redirections, sections, sitemap, RSS feed 404 page (and more !) are generated automatically.</p>
        </div>
        <div class="one-third column">
          <h2><span class="mega-octicon octicon-rocket"></span>Quick deploy</h2>
          <p>Deploy a blog in 2min with the <a href="https://templates.netlify.com/template/cecil-starter-blog-with-netlify-cms/">Netlify template</a>.</p>
          <p style="text-align: center;">
            <a href="https://app.netlify.com/start/deploy?repository=https://github.com/Cecil/Cecil">
              <img src="https://www.netlify.com/img/deploy/button.svg" title="Deploy to Netlify" alt="Netlify deploy button">
            </a>
          </p>
        </div>
      </div>
    </div>
{% endblock content %}
    <!-- footer -->
{% include 'includes/footer.html.twig' %}
{% include 'includes/scripts.js.twig' %}
{% include 'includes/googleanalytics.js.twig' %}
  </body>
</html>
