{% extends '_default/page.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron">
      <div class="container mx-auto">
        <div class="flex flex-col md:flex-row -mx-4">
          <div class="md:w-1/2 mx-4">
            <h1 class="text-6xl">{{ site.title }}</h1>
            <p class="md:text-2xl">{{ site.baseline }}</p>
            {%- if site.menus.home['documentation/quick-start'] is defined ~%}
            <a href="{{ url(site.menus.home['documentation/quick-start'].url) }}" class="btn btn-gold mb-2">{% trans %}Quick Start{% endtrans %}</a>
            {%- endif ~%}
            {%- if site.menus.main.download is defined ~%}
            <a id="download-button" href="{{ url(site.menus.main.download.url) }}" class="btn btn-trans">{% trans %}Download{% endtrans %}</a>
            {%- endif ~%}
          </div>
          <div class="md:w-1/2 mx-4 hidden md:inline-flex">
            {%~ include 'partials/terminal.html.twig' ~%}
          </div>
        </div>
      </div>
    </div>
    {#- news ~#}
    <div class="bg-darkblue dark:bg-black">
      <div class="container mx-auto flex flex-wrap flex-row">
        {%- for news in site.pages|filter(p => p.section == 'news')|sort_by_date|slice(0, 4) ~%}
        <a class="flex-[1_1_100%] md:flex-[1_1_25%] w-64 p-6 hover:bg-gold hover:shadow-xl group{% if loop.index > 2 %} hidden md:block{% endif %}" href="{{ url(news) }}">
          <div class="text-slate-300 group-hover:text-blue mb-1">{{ news.date|localizeddate('long', 'none') }}</div>
          <div class="font-medium text-white group-hover:text-darkblue">{{ news.title }}</div>
        </a>
        {%- endfor ~%}
      </div>
    </div>
{% endblock %}

{% block content %}
        {#- about blocks ~#}
        <div class="mt-6 md:mt-10">
          <div class="space-y-5 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-5">
            {%~ for block in page.blocks.about|filter(b => b.visible != false) ~%}
            {%~ include 'partials/block-about.html.twig' with {icon:block.icon, title:block.title, description:block.description} only ~%}
            {%~ endfor ~%}
          </div>
        </div>
        {#- content ~#}
        {#-<div class="container mx-auto md:w-2/4 bg-slate-100 mt-10 px-8 py-5 leading-loose">
          {{ page.content }}
        </div>}-#}
{% endblock %}

{% block features %}
    {#- twig ~#}
    {%~ include 'partials/feature.html.twig' with {
      class: 'bg-bluegray dark:bg-black',
      title: 'Intuitive templating',
      description: 'Cecil’s Twig templating provides the easiest way to build anything: blog, website, portfolio, etc.',
      path: 'documentation/templates',
      image: 'cecil-twig-template.png'
    } only ~%}
    {#- markdown ~#}
    {%~ include 'partials/feature.html.twig' with {
      class: 'flex-col md:flex-row-reverse md:space-x-reverse',
      title: 'Markdown',
      description: 'Cecil’s Markdown parser provides a simple way to write your content. It’s easy to learn and easy to use.',
      path: 'documentation/content/#body',
      image: 'cecil-markdown-content.png'
    } only ~%}
{% endblock %}

{% block footer_scripts %}
  {{ parent() }}
  {%~ include 'partials/version.js.twig' only ~%}
{% endblock footer_scripts %}