{% extends '_default/page.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron">
      <div class="container mx-auto">
        <div class="flex flex-col md:flex-row -mx-4">
          <div class="md:w-1/2 mx-4">
            <h1>
              <div class="text-6xl mb-4">{{ site.title }}</div>
              <div class="font-medium text-xl md:text-2xl">{{ site.baseline }}</div>
            </h1>
            {%- if site.menus.home['documentation/quick-start'] is defined ~%}
            <a href="{{ url(site.menus.home['documentation/quick-start'].url) }}" class="btn btn-gold mb-4 mr-2">{% trans %}Quick Start{% endtrans %}</a>
            {%- endif ~%}
            {%- if site.menus.main.download is defined ~%}
            <a id="download-button" href="{{ url(site.menus.main.download.url) }}" class="btn btn-trans mr-2">{% trans %}Download{% endtrans %}</a>
            {%- endif ~%}
          </div>
          <div class="md:w-1/2 mx-4 hidden md:inline-flex">
            {%~ include 'partials/terminal.html.twig' ~%}
          </div>
        </div>
      </div>
    </div>
    {#- news ~#}
    <div class="bg-darkblue dark:bg-black">
      <div class="container mx-auto flex flex-wrap flex-row">
        {%- for news in site.pages.showable|filter(p => p.section == 'news')|sort_by_date|slice(0, 4) ~%}
        <a class="flex-[1_1_100%] md:flex-[1_1_25%] w-64 p-6 hover:bg-gold hover:shadow-lg group{% if loop.index > 2 %} hidden md:block{% endif %}" href="{{ url(news) }}" title="{{ news.description|default() }}">
          <div class="text-slate-300 group-hover:text-blue mb-1">{{ news.date|localizeddate('long', 'none') }}</div>
          <div class="font-medium text-white group-hover:text-darkblue">{{ news.title }}</div>
        </a>
        {%- endfor ~%}
      </div>
    </div>
{% endblock %}

{% block content %}
        {#- about blocks ~#}
        <div class="mt-6 md:mt-10">
          <div class="space-y-5 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-5">
            {%~ for block in page.blocks.about|default({})|filter(b => b.visible != false) ~%}
            {%~ include 'partials/block-about.html.twig' with {loop, icon:block.icon, title:block.title, description:block.description} only ~%}
            {%~ endfor ~%}
          </div>
        </div>
        {#- content ~#}
        <div class="container mx-auto md:w-2/4 mt-10 px-0 md:px-8 py-5 leading-loose">
          <div class="markdown">
            {{ page.content }}
          </div>
        </div>
        {%- if site.menus.home['documentation/quick-start'] is defined ~%}
        <div class="text-center mt-4 md:mt-6">
          <a href="{{ url(site.menus.home['documentation/quick-start'].url) }}" class="btn font-medium">{% trans %}Quick Start{% endtrans %}</a>
        </div>
        {%- endif ~%}
{% endblock %}

{% block features %}
    {%~ for block in page.blocks.feature|default({})|filter(b => b.visible != false) ~%}
    {%~ include 'partials/block-feature.html.twig' with {loop, title:block.title, description:block.description, path:block.path, image:block.image|default('images/cecil-card.png'), shadow:block.shadow|default(true)} only ~%}
    {%~ endfor ~%}
{% endblock %}

{% block footer_scripts %}
    {{ parent() }}
    {%~ include 'partials/version.js.twig' only ~%}
    {%~ include 'partials/highlight.js.twig' only ~%}
    {%~ include 'partials/animation.js.twig' only ~%}
{% endblock footer_scripts %}