{% extends '_default/page.html.twig' %}

{% block jumbotron %}
      <div class="jumbotron">
        <div class="container mx-auto">
          <div class="flex flex-col md:flex-row -mx-4">
            <div class="md:w-1/2 mx-4">
              <h1 class="text-6xl">{{ site.title }}</h1>
              <p class="">{{ site.baseline }}</p>
              <a href="{{ url(site.menus.main.documentation.url) ~ 'quick-start/' }}" class="btn btn-gold mb-2">Quick Start</a>
              <a id="download-button" href="{{ url(site.menus.main.download.url) }}" class="btn btn-trans">Download</a>
            </div>
            <div class="md:w-1/2 mx-4 hidden md:inline-flex">
              {%~ include 'partials/terminal.html.twig' ~%}
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}
      {# about blocks #}
      <div class="mt-6 md:mt-10">
        <dl class="space-y-5 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-5">
          {%~ for block in page.blocks.about ~%}
          {%- if block.visible != false -%}
          {%~ include 'partials/block-about.html.twig' with {octicon:block.octicon,title:block.title,description:block.description} only ~%}
          {%- endif -%}
          {%~ endfor ~%}
        </dl>
      </div>
{% endblock %}

{% block footer_scripts %}
	{{ parent() }}
	{%~ include 'partials/version.js.twig' only ~%}
{% endblock footer_scripts %}
