{% extends '_default/page.html.twig' %}

{% block title %}
{{ site.title }} &middot; {{ site.baseline }}
{% endblock title %}

{% block head_css %}
{{ parent() }}
      @media (max-width: 760px) {
        .jumbotron .column {
          float: none;
          width: 100%;
          margin-bottom: 30px;
        }
      }
      .about-that .column .mega-octicon {
        margin-right: .5rem;
      }
{% endblock head_css %}

{% block content %}
    <div class="jumbotron bg-gray-dark">
      <div class="container">
        <div class="columns">
          <div class="one-half column">
            <h1>{{ site.title }}</h1>
            <p>{{ site.baseline|e }}</p>
            <a id="quickstart-button" href="{{ url(site.menu.main.documentation.url) ~ 'quick-start/' }}" class="btn btn-primary">{#<span class="mega-octicon octicon-triangle-right"></span>&nbsp;#}Quick Start</a>
            <a id="download-button" href="{{ url(site.menu.main.download.url) }}" class="btn btn-reverse not-on-mobile">Download</a>
          </div>
          <div class="one-half column not-on-mobile">
{% include 'partials/terminal.html.twig' %}
          </div>
        </div>
      </div>
    </div>
    <div class="container about-that">
      <div class="columns">
{% for block in page.blocks['about'] %}
{% include 'partials/block-about.html.twig' with {octicon:block.octicon,title:block.title,description:block.description} only %}
{% endfor %}
      </div>
    </div>
{% endblock content %}

{% block footer_scripts %}
{{ parent() }}
{% include 'partials/version.js.twig' only %}
{% endblock footer_scripts %}
