<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description|default(site.description)|e }}">
    <meta name="keywords" content="{{ site.keywords|join(', ') }}">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="copyright" content="{{ site.author.name }}">
    <meta name="google-site-verification" content="{{ site.gsv }}" />
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.language.locale }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.baseurl }}">
    <meta property="og:image" content="{{ url('images/cecil-card.png',{canonical:true}) }}">
    <meta property="og:title" content="{{ block('title')|trim }}">
    <meta property="og:description" content="{{ page.description|default(site.description)|e }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Cecil_Static">
    <title>{% apply spaceless %}{% block title %}
{{ page.title }} &middot; {{ site.title }}
{% endblock title %}{% endapply %}</title>
    <link rel="stylesheet" href="{{ asset('css/primer.css')|url }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/cecil-logo.png')|url }}">
    <link rel="icon" href="{{ asset('favicon.ico')|url }}">
{% include 'partials/alternates.html.twig' with {'title':block('title')} %}
    <style>{% apply minify_css %}{% block head_css %}
      .btn-reverse:hover,
      .btn-reverse:active {
        color: #333;
      }
      .btn-primary {
        background-color: #376bad;
        background-image: -webkit-linear-gradient(#4078c0, #376bad);
        background-image: linear-gradient(#4078c0, #376bad);
        border-color: #376bad;
      }
      .btn-primary:hover {
        background-color: #2b5c9b;
        background-image: -webkit-linear-gradient(#3062a3, #2b5c9b);
        background-image: linear-gradient(#3062a3, #2b5c9b);
        border-color: #2b5c9b;
      }
      .btn-primary .counter {
        color: #163C56;
      }
      #quickstart-button,
      #download-button {
        margin-bottom: .25em;
      }
      /* mobile */
      @media (max-width: 546px) {
        .not-on-mobile {
          visibility: hidden;
          display: none;
          clear: both;
        }
      }
      /* ToC */
      .markdown-body> :nth-child(0n+2),
      .markdown-body> h1:first-of-type {
        margin-top: 0 !important;
      }
      /* New logo & design */
      body {
        font-family: Montserrat,"Helvetica Neue",Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 1rem;
        font: 13px/1.4 Montserrat,Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        color: #092F44;
      }
      a {
        color: #7B99A9;
      }
      .masthead a {
        color: #F2D07F;
      }
      .bg-gray-dark {
        background-color: #163C56!important;
      }
      .jumbotron h1 {
        font-weight: 600;
      }
      .jumbotron .btn {
        font-weight: 500;
      }
      .btn-primary {
        color: #163C56;
        background-color: #F2D07F;
        background-image: -webkit-linear-gradient(#F2D07F, #F2D07F);
        background-image: linear-gradient(#F2D07F, #F2D07F);
        border-color: #F2D07F;
      }
      .btn-primary:hover {
        color: #092F44;
        background-color: #7B99A9;
        background-image: -webkit-linear-gradient(#7B99A9, #7B99A9);
        background-image: linear-gradient(#7B99A9, #7B99A9);
        border-color: #7B99A9;
      }
      .menu-item.selected::before {
        background-color: #163C56;
      }
    {% endblock head_css %}{% endapply %}</style>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/terminal.css')|minify|url }}">
  </head>
  <body>
    <!-- header -->
    <header class="masthead bg-gray-dark">
      <div class="container">
        <a href="{{ site.baseurl }}" title="{{ site.title }}" class="masthead-logo">
          <img src="{{ asset('images/cecil-logo.png')|url }}" alt="{{ site.title }} logo" height="40px" />
        </a>
        <nav class="masthead-nav">
          {%- for entry in site.menus.main|sort_by_weight -%}
          <a id="menu-entry-{{ entry.id }}" class="{% if url(page) == url(entry.url) or url(page) == url(entry.url)|trim('/') or page.section == entry.url %} active{% endif %}" href="{{ url(entry.url) }}">{{ entry.name }}</a>
          {%- endfor -%}
          <a href="{{ site.social[1].url }}" aria-label="{{ site.title }} on {{ site.social[1].name }}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1.2em" height="1.2em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24"><path d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23z" fill="#F2D07F"/></svg></a>
          <a class="github-button" href="{{ site.social[0].url }}" data-show-count="true" aria-label="Star {{ site.title }} on {{ site.social[0].name }}">Star</a>
        </nav>
      </div>
    </header>
    <!-- content -->
{% block content %}
    <div class="container">
      <div class="columns">
        <div class="four-fourths column markdown-body">
          {{ page.content }}
        </div>
      </div>
    </div>
{% endblock content %}
    <!-- footer -->
    <div class="container">
      <footer class="footer">
{% block footer %}
        <a href="{{ url('about') }}">About</a> &bull; Powered by <a href="{{ cecil.url }}">Cecil</a>, <a href="https://primer.github.io">Primer</a>, <a href="https://octicons.github.com">Octicons</a>, <a href="https://github.com/Cecilapp/website">GitHub</a>, <a href="https://forestry.io">Forestry.io</a> and <a href="https://www.netlify.com">Netlify</a><br>
        Copyright &copy; {{ 'now'|date('Y') }} <a href="{{ url(site.author.url) }}">{{ site.author.name }}</a> &bull; logo by <a href="https://www.cecillie.fr/">Cécile Ricordeau</a><br>
        <!--<a href="https://github.com/Cecilapp/Cecil/">Cecil</a> is a free software distributed under the terms of the <a href="https://github.com/Cecilapp/Cecil/blob/master/LICENSE">MIT license</a>-->
{% endblock footer %}
      </footer>
    </div>
{% block footer_scripts %}
    <!-- scripts -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
{% include 'partials/googleanalytics.js.twig' %}
{% include 'partials/anchor.js.twig' only %}
{% endblock footer_scripts %}
    <style>{% apply minify_css %}{% block footer_css %}{% endblock footer_css %}{% endapply %}</style>
  </body>
</html>
