{% extends 'themes.html.twig' %}
{% import 'macros/octicons.twig' as octicons %}

{% set repos = site.data.starters %}

              {%- block nav %}{% endblock ~%}

              {%- block name ~%}
              <h2>{{ repo.name }}</h2>
              {%- endblock ~%}

              {%- block command ~%}
              <p class="copy-link">
                <label for="{{ 'cmd-' ~ repo.name|lower }}" class="font-bold">{% trans %}Create project{% endtrans %}</label>
                <input id="{{ 'cmd-' ~ repo.name|lower }}" type="text" class="copy-link-input" value="composer create-project cecil/{{ repo.name|lower }} --ask" readonly>
                <button type="button" class="copy-link-button" aria-label="{% trans %}Copy to clipboard{% endtrans %}">
                  {{ octicons.svg('copy', 16) }}
                </button>
              </p>
              {%- endblock ~%}

              {%- block button_website ~%}
                {%- if repo.homepage ~%}
                  {%- x:button with {href: repo.homepage, class: 'btn-sm', role: 'button'} ~%}
                    {% trans %}Homepage{% endtrans %}
                  {%- endx ~%}
                {%- endif ~%}
              {%- endblock ~%}