{% extends 'page.html.twig' %}

{% block content %}
        <div class="mx-auto">
          {#- content ~#}
          <div class="markdown max-w-screen-md mx-auto dark:markdown-dark">
            <h1>{% trans %}Themes{% endtrans %}</h1>
            {% for item in site.data.themes %}
            <h2>{{ item.name }}</h2>
            <p>{{ item.description }}</p>
            <p><a href="{{ item.url }}">{{ item.url }}</a></p>
            {% set screenshot = asset('https://raw.githubusercontent.com/' ~ item.full_name ~ '/' ~ item.default_branch ~ '/docs/screenshot.png', {ignore_missing: true}) %}
            {% if screenshot.size > 0 %}
            <p>
              {{ screenshot|html({alt: item.name}) }}
            </p>
            {% endif %}
            {% endfor %}
            {# page.content #}
          </div>
        </div>
{% endblock %}