{% extends 'page.html.twig' %}
{% import 'macros/octicons.twig' as octicons %}

{% if not repos is defined %}
{% set repos = site.data.themes %}
{% endif %}

              {%- block toc %}{% endblock toc ~%}

              {%- block content ~%}
              {#- navigation ~#}
              {%- block nav ~%}
              {%- include('partials/themes-nav.html.twig') ~%}
              {%- endblock nav ~%}
              {#- content ~#}
              <h1>{{ page.title }}</h1>
              {{- page.content ~}}
              {#- repository ~#}
              {%- for repo in repos -%}
              {%- set repo_basepath = 'https://raw.githubusercontent.com/' ~ repo.full_name ~ '/' ~ repo.default_branch ~ '/' -%}
              {%- block name ~%}
              {%- set yaml_asset = asset(repo_basepath ~ 'theme.yml', {ignore_missing: true}) -%}
              {%- set yaml = yaml_asset.content|default('yaml: false')|yaml_parse -%}
              {%- if yaml.name|default -%}
                {%- set repo = repo|merge({'name': yaml.name}) ~%}
              <h2>{{ repo.name }}</h2>
              {%- else ~%}
              <h2>{{ repo.name|split('-')[1]|capitalize }}</h2>
              {%- endif -%}
              {%- endblock ~%}
              {#- description ~#}
              <p>{{ repo.description }}</p>
              {%- set screenshot = asset(repo_basepath ~ 'docs/screenshot.png', {ignore_missing: true}) -%}
              {%- if screenshot['missing'] -%}
              {%- set screenshot = asset(repo_basepath ~ 'screenshot.png', {ignore_missing: true}) -%}
              {%- endif -%}
              {#- screenshot ~#}
              {%- if not screenshot['missing'] ~%}
              <p>{{ html(screenshot, {alt: repo.name, style: 'background-color:' ~ screenshot|dominant_color}) }}</p>
              {%- endif ~%}
              {#- buttons ~#}
              <div class="flex space-x-2">
                {%- x:button with {href: repo.github, class: 'btn-sm truncate', role: 'button'} ~%}
                  {%- trans %}Source code{% endtrans %}
                {%- endx ~%}
                {%- x:button with {href: repo.github ~ '#readme', class: 'btn-sm', role: 'button'} ~%}
                  {%- trans %}Documentation{% endtrans %}
                {%- endx ~%}
                {%- block button_website -%}
                  {%- if repo.homepage -%}
                    {%- x:button with {href: repo.homepage, class: 'btn-sm', role: 'button'} -%}
                      {%- trans %}Demo{% endtrans %}
                    {%- endx -%}
                  {%- endif -%}
                {%- endblock ~%}
              </div>
              {#- installation command ~#}
              {%- block command ~%}
              <strong>Install</strong>
              <div class="copy-link">
                <input id="{{ 'input-' ~ repo.name|lower }}" type="text" class="copy-link-input" value="composer require cecil/{{ repo.name|lower }}" readonly>
                <button type="button" class="copy-link-button" aria-label="{% trans %}Copy to clipboard{% endtrans %}">
                  {{ octicons.svg('copy', 16) }}
                </button>
              </div>
              {%- endblock ~%}
              {#- license ~#}
              <p>{{ repo.license }}</p>
              {%- endfor -%}
              {%- endblock ~%}

          {%- block xltoc %}{% endblock xltoc ~%}

    {%- block footer_scripts ~%}
    {{- parent() ~}}
    {{- include('partials/copy-link.js.twig', with_context = false) ~}}
    {%- endblock ~%}