{% extends 'page.html.twig' %}

{% block title %}
Docs > {{ parent() }}
{% endblock title %}

{% block content %}
<div class="container">
  <div class="columns docs-layout">
    <!-- menu -->
{% include 'partials/docs-menu.html.twig' %}
    <!-- markdown -->
    <input type="text" id="search-input" placeholder="Search..." size="50" />
    <div class="one-half column markdown-body">
      {{ page.content }}
{% if site.docs_repo is defined and page.filepath is defined %}
      <p>
        <a class="btn btn-sm" href="{{ site.docs_repo }}{{ page.filepath|replace({'\\':'/'})|replace({'documentation/':''}) }}" role="button">
          <span class="octicon octicon-markdown"></span>
          Suggest a modification
        </a>
      </p>
{% endif %}
      <!-- prev/next page -->
      <p>
{% if page.prev is defined %}
        <a class="btn btn-sm left" href="{{ url(page.prev.path) }}" role="button" title="Previous">
          <span class="octicon octicon-arrow-left"></span>
          {{ page.prev.title }}
        </a>
{% endif %}
{% if page.next is defined %}
        <a class="btn btn-sm right" href="{{ url(page.next.path) }}" role="button" title="Next">
          {{ page.next.title }}
          <span class="octicon octicon-arrow-right"></span>
        </a>
{% endif %}
      </p>
    </div>
    <div class="one-fourth column column-toc">
      {% include 'partials/toc.html.twig' only %}
    </div>
  </div>
</div>
{% endblock content %}

{% block footer_css %}
{{ parent() }}
      {% apply minify_css %}.is-active-link::before{
        background-color:#163C56
      }
      .column-toc {
        display: none;
      }
      @media (min-width: 546px) {
        .column-toc {
          display: block;
          position: -webkit-sticky;
          position: sticky;
          top: 20px;
        }
      }{% endapply %}
{% endblock footer_css %}

{% block footer_scripts %}
{{ parent() }}
{% include 'partials/highlight.js.twig' only %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css">
<script>{% apply minify_js %}
  tocbot.init({
    tocSelector: '.toc',
    contentSelector: '.markdown-body',
    headingSelector: 'h2, h3, h4',
    hasInnerContainers: true,
  });
{% endapply %}</script>
{# Algolia #}
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script>
  var client = algoliasearch('PVTO81KCEC', 'd4f7a88b01ac073e9bb24dc264ead2dc');
  var index = client.initIndex('full');
  function newHitsSource(index, params) {
    return function doSearch(query, cb) {
      index
        .search(query, params)
        .then(function(res) {
          cb(res.hits, res);
        })
        .catch(function(err) {
          console.error(err);
          cb([]);
        });
    };
  }
  autocomplete('#search-input', { hint: false }, [
    {
      source: newHitsSource(index, { hitsPerPage: 5 }),
      displayKey: 'title',
      templates: {
        footer: '<hr><span class="search-foot">Powered by <a href="https://www.algolia.com/" target="_blank" title="Algolia - Hosted cloud search as a service"><img src="https://www.carnivorousplants.co.uk/img/algolia.svg" width="47" height="15"></a></span>',
        suggestion: function(suggestion) {
          return '<div class="search-title"><strong>' +
              suggestion._highlightResult.title.value +
              '</strong></div>' + '<div class="search-snippet">...' +
              suggestion._snippetResult.content.value + '...</div>';
        }
      }
    }
  ]).on('autocomplete:selected', function(event, suggestion, dataset, context) {
    console.log(event, suggestion, dataset, context);
    window.location.href = suggestion.href;
  });
</script>
{% endblock footer_scripts %}
