{% set title = page.title ~ ' &middot; ' ~ "Documentation"|trans ~ ' &middot; ' ~ site.title %}

{% extends 'page.html.twig' %}

{% block content %}
        {#- content ~#}
        <div class="flex flex-row xl:space-x-8">
          {#- menu ~#}
          <div class="flex-none w-48 hidden lg:block">
            {%~ include 'partials/docs-menu.html.twig' ~%}
          </div>
          {#- markdown ~#}
          <div class="flex-grow overflow-y-auto">
            {#- content ~#}
            <div class="markdown markdown-sm sm:markdown lg:markdown-lg mx-auto dark:markdown-dark">
              {%~ include 'partials/search-box.html.twig' ~%}
              {{ page.content }}
              {#- suggest a modification ~#}
              {%- if site.docs_repo is defined and page.filepath is defined ~%}
              <p>
                <a class="btn btn-sm" href="{{ site.docs_repo }}{{ page.filepath|replace({'\\':'/'})|replace({'documentation/':''}) }}" role="button">
                  {% trans "Suggest a modification" ~%}
                </a>
              </p>
              {%- endif ~%}
            </div>
            {#- prev/next page ~#}
            <div>
              {%- if page.prev is defined ~%}
              <a class="text-blue dark:text-gray-300 font-bold no-underline float-left" href="{{ url(page.prev.path) }}" role="button" title="Previous">
                ← {{ page.prev.title }}
              </a>
              {%- endif -%}
              {%- if page.next is defined ~%}
              <a class="text-blue dark:text-gray-300 font-bold no-underline float-right" href="{{ url(page.next.path) }}" role="button" title="Next">
                {{ page.next.title }} →
              </a>
              {%- endif ~%}
            </div>
          </div>
          {#- toc ~#}
          <div class="flex-none w-48 hidden xl:block xl:back-to-top-wrapper">
            {%~ include 'partials/toc.html.twig' only ~%}
            <a href="#top" class="back-to-top-link" aria-label="Scroll to Top">
              {% import 'macros/octicons.twig' as octicons %}{{ octicons.svg('arrow-up') }}
            </a>
          </div>
        </div>
{% endblock content %}

{% block footer_scripts %}
{{ parent() }}
{% include 'partials/highlight.js.twig' only %}
    <link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/tocbot/' ~ site.tocbot.version ~ '/tocbot.css',{minify:false}) }}">
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/tocbot/' ~ site.tocbot.version ~ '/tocbot.min.js',{minify:false}) }}"></script>
    <script>{% apply minify_js %}
      tocbot.init({
        tocSelector: '.toc',
        contentSelector: '.markdown',
        headingSelector: 'h2, h3, h4',
        hasInnerContainers: true,
        scrollSmooth: false,
      });
    {% endapply %}</script>
{% endblock footer_scripts %}

{% block footer_css %}
      {{ parent() }}
      :root {
        --toc-before-color: #e5e7eb;
        --toc-before-active-color: #163C56;
      }
      @media (prefers-color-scheme: dark) {
        :root {
          --toc-before-color: #374151;
          --toc-before-active-color: #374151;
        }
      }
      .toc-link::before {
        background-color: var(--toc-before-color);
      }
      .is-active-link::before {
        background-color: var(--toc-before-active-color);
      }
      a.toc-link {
        text-decoration: none;
      }
{% endblock footer_css %}
