{% extends '_default/page.html.twig' %}

{% block title %}
Docs > {{ parent() }}
{% endblock title %}

{% block head_css %}
{{ parent() }}
      @media (min-width: 546px) {
        #table-of-contents {
          float: right;
          background-color: white;
        }
      }
{% endblock head_css %}

{% block content %}
<div class="container">
  <div class="columns docs-layout">
    <!-- menu -->
{% include 'partials/docs-menu.html.twig' %}
    <!-- markdown -->
    <div class="three-fourths column markdown-body">
{% include 'partials/toc.html.twig' only %}
      {{ page.content }}
{% if page.repository is defined and page.file is defined %}
      <a class="btn btn-sm btn-outline" href="{{ page.repository }}{{ page.file }}" role="button">
        <span class="octicon octicon-markdown"></span>
        Suggest a modification
      </a>
{% endif %}
      <!-- next page -->
{% if page.next is defined %}
{% set url = page.section ~ '/' ~ page.next %}
      <a class="btn btn-sm btn-outline right" href="{{ url(url) }}" role="button">
        Next
        <span class="octicon octicon-arrow-right"></span>
      </a>
{% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block footer_scripts %}
{{ parent() }}
{% include 'partials/highlight.js.twig' only %}
{% endblock footer_scripts %}
