{% extends 'index.html.twig' %}

{% block content %}
<div class="container">
  <div class="columns docs-layout">
    <div class="one-fourth column">
      <!-- menu -->
      <nav class="menu docs-menu">
{% for item in site.pages|filterBy('section', 'documentation') %}
{% if item.id != 'documentation/index' %}
        <a class="menu-item{% if url(page) == url(item) or url(page) == url(item)|trim('/') %} selected{% endif %}" href="{{ url(item) }}">{{ item.title|slice(2) }}</a></li>
{% endif %}
{% endfor %}
      </nav>
    </div>
    <div class="three-fourths column markdown-body">
      {{ page.content }}
      {% if page.repository is defined %}
      <a class="btn btn-sm btn-outline" href="{{ page.repository }}{{ page.title }}.md" role="button">
        <span class="octicon octicon-markdown"></span>
        Suggest a modification
      </a>
{% endif %}
{% if page.next is defined %}
{% set url = page.section ~ '/' ~ page.next %}
      <a class="btn btn-sm btn-outline right" href="{{ url(url) }}" role="button">
        Next
        <span class="octicon octicon-arrow-right"></span>
      </a>
{% endif %}
    </div>
  </div>
</div>

{% endblock content %}
