{% extends 'page.html.twig' %}

{% block content %}
<div class="flex flex-row xl:space-x-8">
	{# menu #}
  <div class="flex-none w-48 hidden xl:block">
    {%~ include 'partials/docs-menu.html.twig' ~%}
  </div>
	{# markdown #}
  <div class="flex-grow overflow-y-auto">
    {%~ include 'partials/search-box.html.twig' ~%}
    {# content #}
    <div class="prose prose-sm lg:prose">
      {{ page.content }}
    </div>
    {# suggest a modification #}
    {%- if site.docs_repo is defined and page.filepath is defined -%}
    <p><hr /></p>
    <p>
      <a class="btn btn-sm" href="{{ site.docs_repo }}{{ page.filepath|replace({'\\':'/'})|replace({'documentation/':''}) }}" role="button">
        Suggest a modification
      </a>
    </p>
    {%- endif -%}
    {# prev/next page #}
    <p>
      {%- if page.prev is defined -%}
      <a class="float-left text-gray-500 text-bold no-underline" href="{{ url(page.prev.path) }}" role="button" title="Previous">
        ← {{ page.prev.title }}
      </a>
      {%- endif -%}
      {%- if page.next is defined -%}
      <a class="float-right text-gray-500 text-bold no-underline" href="{{ url(page.next.path) }}" role="button" title="Next">
        {{ page.next.title }} →
      </a>
      {%- endif -%}
    </p>
  </div>
	{# toc #}
  <div class="flex-none w-48 hidden xl:block xl:sticky">
    {%~ include 'partials/toc.html.twig' only ~%}
  </div>
</div>
{% endblock content %}

{% block footer_css %}
{{ parent() }}{% apply minify_css %}
{% endapply %}{% endblock footer_css %}

{% block footer_scripts %}
{{ parent() }}
{% include 'partials/highlight.js.twig' only %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css">
<script>{% apply minify_js %}
  tocbot.init({
    tocSelector: '.toc',
    contentSelector: '.prose',
    headingSelector: 'h2, h3, h4',
    hasInnerContainers: true,
  });
{% endapply %}</script>
{% endblock footer_scripts %}
