{% extends 'page.html.twig' %}

{% block title %}
Docs > {{ parent() }}
{% endblock title %}

{% block content %}
<div class="container">
  <div class="columns docs-layout">
    <!-- menu -->
{% include 'partials/docs-menu.html.twig' %}
    <!-- markdown -->
    <div class="one-half column markdown-body">
      {{ page.content }}
{% if site.docs_repo is defined and page.filepath is defined %}
      <p>
        <a class="btn btn-sm btn-outline" href="{{ site.docs_repo }}{{ page.filepath|replace({'documentation/':''}) }}" role="button">
          <span class="octicon octicon-markdown"></span>
          Suggest a modification
        </a>
      </p>
{% endif %}
      <!-- prev/next page -->
      <p>
{% if page.prev is defined %}
        <a class="btn btn-sm btn-outline left" href="{{ url(page.prev.path) }}" role="button" title="Previous">
          <span class="octicon octicon-arrow-left"></span>
          {{ page.prev.title }}
        </a>
{% endif %}
{% if page.next is defined %}
        <a class="btn btn-sm btn-outline right" href="{{ url(page.next.path) }}" role="button" title="Next">
          {{ page.next.title }}
          <span class="octicon octicon-arrow-right"></span>
        </a>
{% endif %}
      </p>
    </div>
    <div class="one-fourth column column-toc">
      {% include 'partials/toc.html.twig' only %}
    </div>
  </div>
</div>
{% endblock content %}

{% block footer_css %}
{{ parent() }}
      .is-active-link::before{
        background-color:#4078C0
      }
      .column-toc {
        display: none;
      }
      @media (min-width: 546px) {
        .column-toc {
          display: block;
          position: -webkit-sticky;
          position: sticky;
          top: 20px;
        }
      }
{% endblock footer_css %}

{% block footer_scripts %}
{{ parent() }}
{% include 'partials/highlight.js.twig' only %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css">
<script>{% filter minifyJS %}
  tocbot.init({
    tocSelector: '.toc',
    contentSelector: '.markdown-body',
    headingSelector: 'h2, h3, h4',
    hasInnerContainers: true,
  });
{% endfilter %}</script>
{% endblock footer_scripts %}
