{% extends '_default/page.html.twig' %}

{% block title %}
Docs > {{ parent() }}
{% endblock title %}

{% block head_css %}
{{ parent() }}
      @media (min-width: 546px) {
        #table-of-contents {
          float: right;
          background-color: white;
        }
      }
{% endblock head_css %}

{% block content %}
<div class="container">
  <div class="columns docs-layout">
    <!-- menu -->
{% include 'partials/docs-menu.html.twig' %}
    <!-- markdown -->
    <div class="three-fourths column markdown-body">
{% include 'partials/toc.html.twig' only %}
      {{ page.content }}
{% if site.docs_repo is defined and page.filepath is defined %}
      <p>
        <a class="btn btn-sm btn-outline" href="{{ site.docs_repo }}{{ page.filepath|replace({'documentation/':''}) }}" role="button">
          <span class="octicon octicon-markdown"></span>
          Suggest a modification
        </a>
      </p>
{% endif %}
      <!-- prev/next page -->
      <p>
{% if page.next is defined %}
        <a class="btn btn-sm btn-outline left" href="{{ url(page.next.path) }}" role="button">
          <span class="octicon octicon-arrow-left"></span>
          Previous
        </a>
{% endif %}
{% if page.prev is defined %}
        <a class="btn btn-sm btn-outline right" href="{{ url(page.prev.path) }}" role="button">
          Next
          <span class="octicon octicon-arrow-right"></span>
        </a>
{% endif %}
      </p>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer_scripts %}
{{ parent() }}
{% include 'partials/highlight.js.twig' only %}
{% endblock footer_scripts %}
